#survey_form {
    background-color: white;
    width: 30%;
    height: 30%;
    margin: auto;
    padding-bottom: 25px;
}

.form_control {
    text-align: left;
    padding-top: 25px;
    margin: 0 25px 15px 25px;

    .field_input {
        width: 100%;
    }

    .label-name {
        display: block;
        margin-bottom: 10px;
    }

}

.container {
    margin-bottom: 5px;
}

#text_box {
    width: 100%;
    height: 5em;
}